@import url('https://fonts.googleapis.com/css?family=Arimo');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #181B2B;
    padding-bottom: 50px;
}

.topnav {
    background-color:#fff;
    overflow: hidden;
    height: 5rem;
    font-family: 'Quicksand', sans-serif;

  }

  .topnav img{
      height: 50px;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #122021;
    text-align: center;
    padding: 14px 16px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 17px;
    background-color: #fff;

  }

  
  .logo{
    position: absolute;
    right: 80%;
  }

  .topnav .blog{
    margin-left: 50px;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #122021;
    margin-right: 50px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    background-color: #fff;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}

.slice{
    overflow: hidden;
    position: sticky;
   
  }
  
.slice1{
    position: sticky;
    width: 100%;
    height: 0;
    border-bottom: 200px solid #181B2B;
    border-right: 2200px solid transparent;
    background-color: #fff;
}

.checkout-title{
    position: relative;
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    
    color: #fff;
    font-family: 'Alatsi', sans-serif;
}
.wrapper {
  
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: "Arimo";
  background-color: #C4E4FF;
  position: relative;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%);
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(255, 255, 255, 0.18);
  

}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.container {
  width: 65%;
  padding: 5% 10%;
}
h1 {
  align-self: center;
}
form {
  width: 100%;
}
form > * {
  margin-top: 20px;
}
form input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-family: "Arimo";
  margin-top: 5px;
  color: #8e2807;
  border-radius: 4px;
}
form label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #8e2807;
}
form h1 {
  font-size: 24px;
  line-height: 10px;
  color: #493b76;
  letter-spacing: 1px;
}
form h1:nth-of-type(2) {
  margin-top: 10%;
}
.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.name div {
  width: 45%;
}
.address-info {
  display: flex;
  justify-content: space-between;
}
.address-info div {
  width: 30%;
}
.cc-info {
  display: flex;
  justify-content: space-between;
}
.cc-info div {
  width: 45%;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btns .btn {
  margin: 3px 0;
  height: 30px;
  width: 40%;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  color: #e1c9c9;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}
.btns .btn:hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}
@keyframes btn-hov {
  100% {
    background-color: #cfc9e1;
    color: #4a3b76;
    transform: scale(1.05);
  }
}
input:focus, .btn:focus {
  outline: none;
}
@media (max-width: 736px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .btns {
    align-items: center;
  }
  .btns button {
    width: 50%;
  }
  form h1 {
    text-align: center;
  }
  .name, .address-info, .cc-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .name div, .address-info div, .cc-info div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .street, .cc-num {
    text-align: center;
  }
  input {
    margin: 5px 0;
    min-height: 30px;
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 800px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}
.homelink {
  color: #181B2B;
  text-decoration: none;
  position: relative;
  top: 20px;
  float: right;
  
}

.homelink:hover{
  color: #8e2807;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 3px;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
}